@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
